* {
    -fx-font-family: sans-serif;
}
.btnGuardar {
    -fx-background-color: #a3ff03;
}
.button {
     -fx-font-family: sans-serif;
     -fx-font-weight: bold;
 }
.root{
     -fx-background-color: #5ba6ff;
}
.btnEliminar {
    -fx-background-color: #a3ff03;
    }
.btnCerrar {
    -fx-background-color: #a3ff03;
}
.btnAccion {
    -fx-background-color:  #a3ff03;
}
.rojo {
    -fx-text-fill: red;
}